[submodule "cxx_test/raylib"]
	path = cxx_test/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "cxx"]
	path = cxx
	url = https://github.com/Chlorophytus/libaxolotlsd.git
[submodule "cxx_test/libaxolotlsd"]
	path = cxx_test/libaxolotlsd
	url = https://github.com/Chlorophytus/libaxolotlsd.git
